* {
  padding: 0;
  /* Standard Reset, and we're adding box-sizing:border-box because it's awesome. */
  
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.content-box {
	width: 100%;
	height: 15%;
	position: relative;
  
  background: #ffffff;
  border: 0px solid white;
}

#img2-container {
	width: 6%;
	height: 72%;
	position: absolute;
	top: 15px;
	left: 55px;
}

#bt1 {
   background-color: white;
   color: black;
   font-size: 12px;
   font-family: 'Mukta Malar';
   font-weight: 900;
   position: absolute;
   text-align: center;
   text-decoration: none;
   right: 30px;
   border: 2px solid #008CBA;
   top: 40px;
   padding: 7px 20px;
}

#bt1:hover {
  transition: .5s;
  background-color: #008CBA;
  color: #ffffff;
  border: 2px solid white;
}

#bt2 {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  right: 130px;
  border: 2px solid #FE0000FF;
  text-decoration: none;
  top: 40px;
  padding: 7px 20px;
}

#bt2:hover {
  transition: .5s;
  background-color: #FE0000FF;
  color: #ffffff;
  border: 2px solid white;
}

.m-container {
  top: 100px;
}