* {
  padding: 0;
  /* Standard Reset, and we're adding box-sizing:border-box because it's awesome. */
  
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.content-box {
	width: 100%;
	height: 15%;
	position: relative;
  
  background: #ffffff;
  border: 0px solid white;
}

#img2-container {
	width: 6%;
	height: 72%;
	position: absolute;
	top: 15px;
	left: 55px;
}

#bt1 {
   background-color: white;
   color: black;
   font-size: 12px;
   font-family: 'Mukta Malar';
   font-weight: 900;
   position: absolute;
   text-align: center;
   text-decoration: none;
   right: 30px;
   border: 2px solid #008CBA;
   top: 40px;
   padding: 7px 20px;
}

#bt1:hover {
  transition: .5s;
  background-color: #008CBA;
  color: #ffffff;
  border: 2px solid white;
}

#bt2 {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  right: 130px;
  border: 2px solid #FE0000FF;
  text-decoration: none;
  top: 40px;
  padding: 7px 20px;
}

#bt2:hover {
  transition: .5s;
  background-color: #FE0000FF;
  color: #ffffff;
  border: 2px solid white;
}

.m-container {
  top: 100px;
}


.chapter-box{
  width: 100%;
  height: 15%;
  position: relative;
  
  background: #ffffff;
  border: 0px solid white;
}

#chp-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 60px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#chp-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch1-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 140px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch1-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch2-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 220px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch2-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch3-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 300px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch3-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch4-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 380px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch4-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch5-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 460px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch5-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch6-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 540px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch6-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch7-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 620px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch7-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch8-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 700px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch8-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch9-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 780px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch9-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch10-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 860px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch10-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch11-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 940px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch11-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch12-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 1020px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch12-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch13-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 1100px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch13-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#ch14-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 1180px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#ch14-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

#chs-bt {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  left: 1260px;
  border: 2px solid #008CBA;
  top: 160px;
  padding: 5px 14px;
}
#chs-bt:hover{
  transition: .5s;
  background-color: #008CBA;
  border: 2px solid white;
}

.chapter-b {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 160px;
  left: 80px;
}
#im-b {
  width: 220px;
  height: 200px;
}
.chapter-b:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-b {
  padding: 2px 16px;
}

.chapter-1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 160px;
  left: 380px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 160px;
  left: 680px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 160px;
  left: 980px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 460px;
  left: 80px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 460px;
  left: 380px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-5:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 460px;
  left: 380px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-5:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-6 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 460px;
  left: 680px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-6:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-7 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 460px;
  left: 980px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-7:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-8 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 760px;
  left: 80px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-8:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-9 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 760px;
  left: 380px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-9:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-10 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 760px;
  left: 680px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-10:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-11 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 760px;
  left: 980px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-11:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-12 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 1060px;
  left: 80px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-12:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-13 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 1060px;
  left: 380px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-13:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-14 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 1060px;
  left: 680px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-14:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}

.chapter-s {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 220px;
  height: 250px;
  position: absolute;
  top: 1060px;
  left: 980px;
}
#im-1 {
  width: 220px;
  height: 200px;
}
.chapter-s:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container-1 {
  padding: 2px 16px;
}