#bt1 {
   background-color: white;
   color: black;
   font-size: 12px;
   font-family: 'Mukta Malar';
   font-weight: 900;
   position: absolute;
   text-align: center;
   text-decoration: none;
   right: 30px;
   border: 2px solid #008CBA;
   top: 40px;
   padding: 7px 20px;
}

#bt1:hover {
  transition: .5s;
  background-color: #008CBA;
  color: #ffffff;
  border: 2px solid white;
}

#bt2 {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Mukta Malar';
  font-weight: 900;
  position: absolute;
  text-align: center;
  right: 130px;
  border: 2px solid #FE0000FF;
  text-decoration: none;
  top: 40px;
  padding: 7px 20px;
}

#bt2:hover {
  transition: .5s;
  background-color: #FE0000FF;
  color: #ffffff;
  border: 2px solid white;
}
